.ww-message-event {
	position: absolute;
	background-color: rgba(255,255,255,0.1);
	bottom: 1.2em;
	border-radius: .5em;
	width: 70%;
	padding: 0.3em 3em;
	left:15%;
	&:hover {
    	background-color:rgb(128,128,128);
   }
	.ww-message-container{
		position: relative;
		display: flex;
	    flex-wrap: nowrap;
	    flex-direction: row;
	    justify-content: center;

		.ww-image-container{
			float: left;
			.ww-message-image {
				max-width: 15em;
			}
		}
		.ww-text-container {
			float: right;
			text-decoration: none;
			color: black;
			.ww-title {
				margin: .1em;
			}
			.ww-message {
				margin: .1em;
			}
		}

	}
}
